*{
    margin: 0 auto;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: monospace;
    box-sizing:border-box;
}    
a{
    color: #ff57e3;
    text-decoration: none;
}
.orange{
    color: #e0690d;
}
.logo img{
    width: 100px;
    float: left;
    left: 5%;
    top: 3px;
}

header{
    width: 100%;
    height: 66px;
    
    box-shadow: 1px 1px;
    position: fixed;
    top: 0px;

 
    box-shadow: 4px 3px #8c767647;
    z-index: 100;
    background-color: #000000;
 }
 body{
     background-color: #ffe8fe;
    justify-items: center;
    text-align: center;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    right: 00;
    top: 0px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: black;
  }
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    top: -18px; 
    right: 45%;
 }
     /* Dropdown Content (Hidden by Default) */
.dropdown-content {
     display: none;
     position: absolute;
    min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     top: 50px;
     z-index: 1;
    border-radius: 10px;
    background: rgb(246,208,251);
}
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   font-size: 17px;
    border-radius: 10px;
  }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background: rgb(242,141,250);
    background: linear-gradient(90deg, rgba(242,141,250,0.9332107843137255) 0%, rgba(250,191,255,0.9248074229691877) 47%);
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn { 
    background: rgb(246,208,251);
    background: linear-gradient(90deg, rgba(246,208,251,1) 0%, rgba(221,149,224,1) 100%);
    color: #000;
} 
.uper{
    top: 28px;
    left: 24%;
}
.search{
    top: -32px;
    height: 34px;
    width: 296px;
   float: right;
   right: 22%;
    border-radius: 10px;
    background: rgb(246,208,251);
    background: linear-gradient(90deg, rgba(246,208,251,1) 0%, rgba(221,149,224,1) 100%);
}
.headerimg{
    position: relative;
    display: inline-block;
    top: -18px; 
    right: 45%;
}
.side .headerimg a{
    text-decoration: none;
    margin-right: 60px;
    color: whitesmoke;
}
side .headerimg a:first-child{
    margin-left: 60px;
}
.side .headerimg a img{
    width: 20px;
    height: auto;
}
.side{
    top: -19px;
    left: 97%;
}
.site .headerimg a {
    color: #000;
    margin-left: 10px;
}
.bannner{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 400px;
   
}
.video video {
    
    width: 100%;
    z-index: -9;
    top: -70px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    margin-top: 70px;

}
.btext {
    text-align: left;
    z-index: 20;
   position: relative;
    top: -220px;
   text-transform: uppercase;
   animation-name: my-animation;
   animation-duration: 2s;
}

@keyframes my-animation {
    from {
      
      top: -320px;
    }
    to {
     
      top: -220px;
    }
  }
.btext .btextbox{
    width: 60px;
    height: 100px;
    background-color: #b699f7;
    display: inline-block;
    align-items: left;
    position: relative;
    justify-items: left;
    top: 7px;
    /*  */
}
.btext .btext_content{
    position: relative;
    display: inline-block;
}
.btext .btext_content h4{
    font-size: 12px;
    color: #b699f7;
}
.btext .btext_content:last-child{
    color: aliceblue;
}
.btext .btext_content h1{
    font-size: 40px;
    color: white;
}
.bg_write{
    font-size: 220px;
    color: rgb(245, 200, 200);
    opacity: 0.5;

    text-align: left;
    top: -282px;

 /*    */
    left: -50px;
    z-index: -10;
    margin: 0px;
    padding: 0px;
    
}
.catag{
    align-items: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
    

}
.reveal{
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.catag .c_img_bg{
    margin: 35px;
    align-items: left;
    width: 230px;
    height: 230px;
    border-radius: 165px;
    background-color: #b699f7;
    display: inline-block;
    z-index: 10;
    box-shadow: #000000;
    text-align: left;
    box-shadow: 5px 10px;
    text-align: center;
    box-shadow: -0px 0px 2px 10px rgba(204, 202, 202, 0.49);
-webkit-box-shadow: -0px 0px 2px 10px rgba(201, 195, 195, 0.49);
-moz-box-shadow: -0px 0px 2px 10px rgba(196, 192, 192, 0.49);

    
}
.catag .c_img_bg:hover{
    background-color: #e0690d;
    transform: scale(1.1);
    transition: 0.5s all ease-in-out
}
.catag img{
   
    width: 250px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
    display: inline-block;
    z-index: 11;
    top: -30px;
    LEFT: -11PX;


}
.catag .c_img_bg .fitness{
    
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}





 /*  CSS for footer  */
footer{
    background-color: #000;
    width: 100%;
    float: left;
    color: whitesmoke;
    text-align: initial;
	margin-top: 70px;
}
.footermain{
    width: 500px;
    margin-top: 30px;

}
.app{
    float: left;
    width: 128px;
    margin-right: 15px;
}
.app img{
    width: 100px;
}
.social{
    float: left;
    margin-top: 10px;
}
.social ul{
    list-style: none;
}
.social ul li{
    float: left;
}
.social ul li img{
    width: 25px;
}

.aboutus{
       border-top:  1px solid #ff94c1;
        float: right;
        width: 250px;
        text-align: justify;
}

.footermain h3{
    border-top:1px solid #ff94c1 ;
}

 /*  CSS for men clothing  */

 .ctag_u{
    align-items: left;
    display: inline-block;
    width: 100%;
    position: relative;

 }
 .ctag_u .ctag_img_u {
    width: 200px;
    display: inline-block;
    align-self: left;

 }