/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.side_bar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.side_bar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.side_bar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.side_bar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.side_bar.open .logo-details .icon,
.side_bar.open .logo-details .logo_name{
  opacity: 1;
}
.side_bar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.side_bar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.side_bar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.side_bar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.side_bar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.side_bar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.side_bar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.side_bar li a{
  display: flex;
  /* height: 100%; */
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  /* background: #11101D; */
  margin-left: -20px;
}
.side_bar li a:hover{
  width: 180px;
  margin-left: -10px;
  left: -5px;
  background: rgb(247, 97, 97);
}
.nav-list li .active{
  width: 180px;
  margin-left: -10px;
  left: -5px;
  background: rgb(247, 97, 97);
}
.nav-list li .warning:hover{
  width: 180px;
  margin-left: -10px;
  left: -5px;
  background: rgb(241, 58, 58);
}

.links_name{
  color: white;
}
.side_bar li i{
  font-size: 18px;
  margin-left: -20px;
}
.side_bar li.profile{
  position: fixed;
  height: 60px;
  width: 250px;
  left: 0;
  bottom: -8px;
  padding: 20px 10px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.side_bar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.side_bar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.side_bar li.profile .name{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.side_bar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  transition: all 0.5s ease;
  z-index: 2;
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin-top: 70px;
  margin-left: 70px;
  left: 30px;
}
.home-section .text-2{
  font-size: 15px;
  margin-top: 60px;
  margin-left: 70px;
  margin-right: 70px;
}
